
/*
Portfolio
 */

#portfolio {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f9f9f9;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.portfolio-thumb {
  position: relative;
  top: 0;
  margin-bottom: 10px;
  transition: 0.5s;
}

.portfolio-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 20px;
  font-size: 30px;
  border-radius: 5px;
}

.portfolio-overlay:hover {
  background-color: rgba(64, 70, 95, 0.92);
  color: white;
  transition: 0.5s;
}

/*
Contact
 */

#contact {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f9f9f9;
}

.form-title {
  padding-left: 30px;
}

.contact {
  padding-left: 30px;
  padding-top: 30px;
}

.form-control {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.49);
  background-color: #f9f9f9;
  border-radius: 0;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.button {
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  background: #000000 none;
  border-radius: 50px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 18px 32px;
  margin-top: 42px;
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
}

.button:hover {
  background: white;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  transition: 0.5s;
}

/*
Footer
 */

#footer {
  background: #bfbfbf;
  text-align: center;
  padding: 100px 0;
}

.footer-title {
  color: white;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*
Info
 */

#info {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  width: 100%;
  height: 1500px;
}

.info-side-banner {
  position: absolute;
  border-radius: 5px;
  left: -30vw;
  width: 30vw;
  background: rgb(52, 67, 89);
  -webkit-animation: slide 1s forwards;
  animation: slide 1s forwards;
  display: inline-block;
}

.info-text-box {
  position: absolute;
  border-radius: 5px;
  right: -55vw;
  width: 55vw;
  background: rgb(249, 249, 249);
  -webkit-animation: slideRight 1.5s forwards ease-in-out;
  animation: slideRight 1.5s forwards ease-in-out;
  animation-delay: 1s;
  display: inline-block;
  padding-left: 100px;
}

.info-side-banner-text {
  padding-left: 50px;
  color: white;
}

.info-side-banner-img {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-side-banner-img-wrapper {
  padding-left: 80px;
  padding-right: 80px;
  margin-left: 15px;
  margin-right: 15px;
}

.info-side-banner-text-wrapper {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.info-side-banner-title {
  font-size: 34px;
  text-align: left;
}

.line {
  height: 1px;
  background: white;
  width: 100%;
  margin-top: -14px;
}

.info-text-section {
  margin-top: 50px;
}

.info-list {
  padding-left: 0;
  list-style-type: none;
}

@-webkit-keyframes slide {
  100% {
    left: -50px;
  }
}

@keyframes slide {
  100% {
    left: -50px;
  }
}

@-webkit-keyframes slideRight {
  100% {
    right: 20vw;
  }
}

@keyframes slideRight {
  100% {
    right: 20vw;
  }
}

/*
Quote
 */

.parallax {
  /* The image used */
  background-image: url('../assets/header-bg.jpg');

  /* Set a specific height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*filter: blur(8px);*/
  /*-webkit-filter: blur(8px);*/
}

.quote-content {
  position: absolute;
  left: 0;
  top: 325%;
  width: 100%;
  text-align: center;
  color: #000;
}

/*
Media queries
 */
@media (max-width: 320px) {
}

@media (max-width: 576px) {
  h1 {
    font-size: 29px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 29px;
  }

  .row {
    top: 35%;
    right: 0;
  }
}
