@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$font-family: 'Open Sans', sans-serif;


// spacing
$spacing-default: 1rem;
$spacing-large: 2 * $spacing-default;
$spacing-small: 2 / $spacing-default;

// border radius
$default-border-radius: 10px;

// full width
$full-width: 100%;
